@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    background-color: #f7f8fc;
  }
}
:root {
  /* --- Display size --- */
  --diplay-size: 3.815rem;
  --display-line-height: 70px;

  /* --- H1 size --- */
  --h1-size: 3.052rem;
  --h1-line-height: 64px;

  /* --- H2 size --- */
  --h2-size: 2.441rem;
  --h2-line-height: 48px;

  /* --- H3 size --- */
  --h3-size: 1.953rem;
  --h3-line-height: 48px;

  /* --- H4 size --- */
  --h4-size: 1.563rem;
  --h4-line-height: 35px;

  /* --- H5 size --- */
  --h5-size: 1.25rem;
  --h5-line-height: 28px;

  /* --- H6 size --- */
  --h6-size: 1rem;
  --h6-line-height: 24px;

  /* --- paragraph size --- */
  --paragraph-size: 1.25rem;
  --paragraph-line-height: 24px;

  /*---  Body Size  ---*/
  --body-size: 1rem;
  --line-height: 24px;
}
h1 {
  font-size: var(--diplay-size);
  line-height: var(--display-line-height);
}
h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
}
h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
}
h4 {
  font-size: var(--h4-size);
  line-height: var(--h4-line-height);
}
h5 {
  font-size: var(--h5-size);
  line-height: var(--h5-line-height);
  font-weight: 600;
}
p {
  font-size: var(--paragraph-size);
  line-height: var(--paragraph-line-height);
}
@media screen and (max-width: 411px) {
  :root {
    /* --- Display size --- */
    --diplay-size: 2.441rem;
    --display-line-height: 48px;

    /* --- H1 size --- */
    --h1-size: 3.052rem;
    --h1-line-height: 64px;

    /* --- H2 size --- */
    --h2-size: 2rem;
    --h2-line-height: 36px;

    /* --- H3 size --- */
    --h3-size: 1.563rem;
    --h3-line-height: 40px;

    /* --- H4 size --- */
    --h4-size: 1.25rem;
    --h4-line-height: 28px;

    /* --- paragraph size --- */
    --paragraph-size: 1rem;
    --paragraph-line-height: 24px;

    /*--- small paragraph size --*/
    --small-paragrpah-size: 0.8rem;
    --small-paragrpah-line-height: 12px;
  }
}
@media screen and (max-width: 375px) {
  :root {
    /* --- Display size --- */
    --diplay-size: 2.441rem;
    --display-line-height: 48px;

    /* --- H1 size --- */
    --h3-size: 1.563rem;
    --h3-line-height: 40px;

    /* --- H2 size --- */
    --h4-size: 1.25rem;
    --h4-line-height: 28px;
  }
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  background-size: cover;
}

.hero-container {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  background-image: url("/imgs/Hero_bg.jpg");
  background-size: cover;
}
.nav-desktop {
  display: flex;
}
.nav-mobile {
  display: none;
}
.my-container {
  width: 90vw;
  margin: 0 auto;
}
.text-centered-container {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}
.full-width-container {
  width: 100vw;
  display: flex;
}
.benefits-list {
  width: 27vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 12px;
  margin-bottom: 12px;
}
.benefits-list img {
  object-fit: contain;
  height: auto;
}
.benefits-list h6 {
  display: inline;
  font-size: 1rem;
  line-height: 20px;
}
.image-container {
  object-fit: cover;
}
.pricing-table-desktop {
  display: block;
}
.pricing-table-mobile {
  display: none;
}
.tab-background-container {
  display: flex;
  width: 560px;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tab-background-mobile-container {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pricing-card-container {
  height: 90vh;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.pricing-card-container h5 {
  max-width: 25vw;
  min-height: 40px;
  text-align: center !important;
  margin: 0 auto !important;
  font-size: 1rem;
}
.pricing-card-container h6 {
  max-width: 25vw;
  margin: 0 auto !important;
}
.pricing-card-container p {
  max-width: 25vw;
  min-height: 140px;
  font-size: var(--small-paragrpah-size);
  line-height: var(--small-paragrpah-line-height);
  text-align: center !important;
  margin: 0 auto !important;
}
.pricing-card-container span {
  font-size: 28px;
  color: #494fb2;
}
.text-highlight {
  color: #f44336;
}
.price-card-mobile {
  width: 70vw;
  height: 80vh;
  border-radius: 8px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-shrink: 1 !important;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}
.book-btn {
  width: 20vw;
  margin: 0 auto;
  height: 56px;
  background-color: #494fb2;
  border-radius: 53px;
  color: white;
}
.button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 32px;
}

.button1 {
  background-color: #6870fe;
  color: white;
  border: 2px solid transparent;
}

.button1:hover {
  background-color: transparent;
  border: 2px solid #6870fe;
  color: #6870fe;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: #008cba;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {
  background-color: #e7e7e7;
}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}
@media screen and (max-width: 768px) {
  .benefits-list {
    width: 60vw;
  }
  .text-centered-container {
    width: 90vw;
    margin: 0 auto;
  }
  .image-container {
    object-fit: cover;
    width: 100vw;
  }
  .pricing-table-desktop {
    display: none;
  }
  .pricing-table-mobile {
    display: block;
  }
  .tab-background-mobile-container {
    width: 74vw;
  }
}
@media screen and (max-width: 411px) {
  .hero-container {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    background-image: url("/imgs/Hero_Mobile_411-min.jpg");
    background-size: cover;
  }

  .nav-desktop {
    display: none;
  }
  .hero-number {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .benefits-list {
    width: 90vw;
  }
  .text-centered-container {
    width: 90vw;
    margin: 0 auto;
  }
  .tab-background-mobile-container {
    width: 90vw;
  }
}
